<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="OSMFile" value="D:\data\osm\montana-latest.osm.pbf" />
    <add key="OSMConfigFile" value="D:\data\osm\osmconf.ini" />
    <add key="OSMTmpPath" value="." />
    <add key="OSMTmpFileSize" value="100" />
    <add key="SQLBatchSize" value="5000" />
    <add key="SQLThreads" value ="4" />
  </appSettings>
   <connectionStrings>
      <add name="MSSQLConnectionString" 
           providerName="System.Data.SqlClient"
           connectionString="Data Source=.\sqlexpress;Initial Catalog=gis;Integrated Security=true" />
  </connectionStrings>  
  <system.diagnostics>
    <trace autoflush="true">
    	<listeners>
    		<add name="consoleListener" 
             type="System.Diagnostics.ConsoleTraceListener"
             traceOutputOptions="ProcessId, DateTime" />
    	</listeners>
    </trace>
    <switches>
      <!--Default trace level is info (value=3).  Set value=4 for verbose output.-->
      <add name="TraceSwitch" value="4" />
    </switches>
  </system.diagnostics>
</configuration>
